
/* CSS Reset*/
*{
    margin: 0;
    padding: 0;
}
/*Navigation section */
/* .haader{
} */
.logo{
    position: absolute;
    left: 5%;
}
.navul{
    flex-direction: column;
}
.header{
    /* height: 258px; */
    justify-content: center;
    align-items: center;
}
.navig{
    height: 200px;
    flex-direction: column;
    transition: all 0.3s ease-out;
}
.burger{
    display: block;
}
.menu{
    width: 70px;
    height: 30px;
}
.h-nav-resp{
    height: 54px;
}
.v-class-resp{
    opacity: 0;
}
/* Home section */
.p1 .p2{
    text-align: center;
}
/* #home-section{
    margin-top: 300px;
} */
/* About section */
/* .abt-cont{
    display: flex;
    flex-direction: column;
    /* justify-content: center; 
    align-items: center;
    margin: 20px;
} */
.both{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 20px;
}
.card-cont-1{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.card-cont-2{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.tandc{
    margin-left: 50px;
}
